.navbar.navbar-inverse
  .navbar-inner
    .container-fluid
      %a.brand{:href => "#{@path_prefix}/"}
        俺用実況アプリ
      .nav-collapse.collapse
.row-fluid
  .span2
  .span6
    :javascript
      <!--
      document.title = "俺用実況アプリ";
      //-->
    %div{:id => "content"}
      %div{:id => "main", :class => "clearfix"}
        %div{:id => "article"}
          - @allchannel.each_with_index do |channel|
            .section.clearfix
              %h1
                %a{:href => "#{@path_prefix}/channel/detail/#{channel.id}"  }
                  =channel.title
              %p.section_comment
                %span{:style => "line-height:24px;"}
                %font{:size => "4",:color => "blue"}
                  =channel.rows
                %span
                  = "ツイート"
                %br
                %span
                  %font{:size => "4",:color => "red"}
                    =channel.elapsetime/60
                  ="分"
                  %font{:size => "4",:color => "red"}
                    =channel.elapsetime%60
                  ="秒"
              %ul.info.clearfix
                %li.info_time
                  =channel.starttime
                %li.info_category
                  カテゴリ:実況
            .sidebody.category-parent
              %br
        #aside{:style => "position: static; margin: 0px;"}
          .plugin-categorize.sidewrapper
            .sidetitlebody
              .sidetitle
                ="実況一覧(新着順)"
            .sidetop
            .side
              - @allchannel.each_with_index do |channel|
                .sidebody.category-parent
                  %a{:href => "#{@path_prefix}/channel/detail/#{channel.id}"  }
                    =channel.title
            .sidebottom
          .plugin-categorize.sidewrapper
            .sidetitlebody
              .sidetitle
                ="月別一覧"
            .sidetop
            .side
              - @monthlist.each_with_index do |month|
                .sidebody.category-parent
                  %a{:href => "#{@path_prefix}/channel/month/#{month}"  }
                    =month/12
                    ="年"
                    =month%12
                    ="月"
            .sidebottom
  .span4