.navbar.navbar-inverse
  .navbar-inner
    .container-fluid
      %a.brand{:href => "#{@path_prefix}/"}
        俺用実況アプリ
      .nav-collapse.collapse
.row-fluid
  .span2
  .span6
    :javascript
      <!--
      document.title = "俺用実況アプリ";
      //-->
    %div{:id => "content"}
      %div{:id => "main", :class => "clearfix"}
        %div{:id => "article"}
          .section.clearfix
            %h1
              #{@channel.title}
            %p.section_comment
              %span{:style => "line-height:24px;"}
                %font{:size => "4",:color => "blue"}
                  =@channel.rows
                %span
                  = "ツイート"
                %br
                %span
                  %font{:size => "4",:color => "red"}
                    #{@channel.elapsetime/60}
                  ="分"
                  %font{:size => "4",:color => "red"}
                    #{@channel.elapsetime%60}
                  ="秒"
            %ul.info.clearfix
              %li.info_time
                #{@channel.starttime}
              %li.info_category
                = "カテゴリ：実況"
            %br
            %br
            %span{:style => "line-height:24px;"}
              %div{:class => "article_body"}
                - @contents.each_with_index do |content,i|
                  %font{:size => "3"}
                    #{i+1}
                    =" : "
                    %font{:color => "green"}
                      =@channel.defaultname
                    =" : "
                    =content.nowtime
                    %font{:size => "2"}
                      ="("
                      #{sprintf("%02d", content.tweetstime/60)}
                      =":"
                      #{sprintf("%02d",content.tweetstime%60)}
                      =")"
                  %br
                  - if content.value == 0
                    %font{:size => "4"}
                      %b
                        =content.tweets
                  - elsif content.value == 1
                    %font{:size => "5"}
                      %span{:style => "line-height:32px;"}
                        %b
                          =content.tweets
                  - elsif content.value == 2
                    %font{:size => "6",:color => "blue"}
                      %span{:style => "line-height:42px;"}
                        %b
                          =content.tweets
                  - elsif content.value == 3
                    %font{:size => "7",:color => "red"}
                      %span{:style => "line-height:56px;"}
                        %b
                          =content.tweets
                  - elsif content.value == 4
                    %font{:size => "3"}
                      %span{:style => "line-height:22px;"}
                        %b
                          =content.tweets
                  - elsif content.value == 5
                    %font{:size => "2"}
                      %span{:style => "line-height:18px;"}
                        =content.tweets
                  - elsif content.value == 6
                    %font{:size => "1",:color => "silver"}
                      %span{:style => "line-height:16px;"}
                        =content.tweets
                  %br
                  %br
        #aside{:style => "position: static; margin: 0px;"}
          .plugin-categorize.sidewrapper
            .sidetitlebody
              .sidetitle
                ="実況一覧(新着順)"
            .sidetop
            .side
              - @allchannel.each_with_index do |channel|
                .sidebody.category-parent
                  %a{:href => "#{@path_prefix}/channel/detail/#{channel.id}"  }
                    =channel.title
            .sidebottom
          .plugin-categorize.sidewrapper
            .sidetitlebody
              .sidetitle
                ="月別一覧"
            .sidetop
            .side
              .sidebody.category-parent
                作成中
            .sidebottom
  .span4